# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/.next-dev/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# certificados digitais (NUNCA commitar)
certs/
*.pfx

# prisma
prisma/dev.db
prisma/dev.db-journal

# downloads
downloads/

# turbo
.turbo

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
